@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f1820f;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1rem;
}

.router-link-active {
  font-weight: bold;
  color: var(--primary);
}

.size-6 {
  width: 2rem;
  height: 2rem;
}

size-5{
  width: 1.5rem;
  height: 1.5rem;
}

html[lang="ar"] {
  direction: rtl;
  text-align: right;
}